<a class="toggle"></a>

<nav>
  <a class="stats">Stats</a>
  <a class="collaborators">Collaborators</a>
  <a class="chat">Chat</a>
</nav>

<div class="stats">
</div>

<div class="collaborators">
</div>

<div class="chat">
</div>
